include ~html-webpack-template-pug/mixins.pug

include svg.pug
doctype html 
html(lang='RU', manifest=htmlWebpackPlugin.files.manifest)
    head
        meta(charset = 'utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        +favicon
        block title
            title Тестовая страница

        +injectCSS

        
        
    
    body
        block pagecontent
            

        +injectJS

        
        
        
           
                